<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Taj Mahal</string>
	<key>location</key>
	<string>Agra, India</string>
	<key>background</key>
	<string>tajmahal.png</string>
	<key>shape.enabled</key>
	<true/>
	<key>shape.0</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>135</integer>
		<key>x.1</key>
		<integer>162</integer>
		<key>y</key>
		<integer>51</integer>
	</dict>
	<key>shape.1</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>92</integer>
		<key>x.1</key>
		<integer>103</integer>
		<key>y</key>
		<integer>107</integer>
	</dict>
	<key>shape.2</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>194</integer>
		<key>x.1</key>
		<integer>206</integer>
		<key>y</key>
		<integer>107</integer>
	</dict>
	<key>shape.3</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>57</integer>
		<key>x.1</key>
		<integer>67</integer>
		<key>y</key>
		<integer>128</integer>
	</dict>
	<key>shape.4</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>231</integer>
		<key>x.1</key>
		<integer>240</integer>
		<key>y</key>
		<integer>128</integer>
	</dict>
	<key>shape.5</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>110</integer>
		<key>x.1</key>
		<integer>186</integer>
		<key>y</key>
		<integer>124</integer>
	</dict>
	<key>shape.6</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>68</integer>
		<key>x.1</key>
		<integer>110</integer>
		<key>y</key>
		<integer>141</integer>
	</dict>
	<key>shape.7</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>187</integer>
		<key>x.1</key>
		<integer>229</integer>
		<key>y</key>
		<integer>141</integer>
	</dict>
	<key>shape.8</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>86</integer>
		<key>x.1</key>
		<integer>105</integer>
		<key>y</key>
		<integer>179</integer>
	</dict>
	<key>shape.9</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>194</integer>
		<key>x.1</key>
		<integer>212</integer>
		<key>y</key>
		<integer>179</integer>
	</dict>
</dict>
</plist>
