<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Tivoli</string>
	<key>location</key>
	<string>Copenhagen, Denmark</string>
	<key>background</key>
	<string>tivoli.png</string>
	<key>shape.enabled</key>
	<true/>
	<key>shape.0</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>99</integer>
		<key>x.1</key>
		<integer>194</integer>
		<key>y</key>
		<integer>121</integer>
	</dict>
	<key>shape.1</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>55</integer>
		<key>x.1</key>
		<integer>98</integer>
		<key>y</key>
		<integer>145</integer>
	</dict>
	<key>shape.2</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>x.0</key>
		<integer>195</integer>
		<key>x.1</key>
		<integer>238</integer>
		<key>y</key>
		<integer>145</integer>
	</dict>
</dict>
</plist>
