<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Little Mermaid</string>
	<key>location</key>
	<string>Copenhagen, Denmark</string>
	<key>background</key>
	<string>mermaid.png</string>
	<key>shape.enabled</key>
	<true/>
	<key>shape.size</key>
	<string>{ 300, 300 }</string>
	<key>shape.0</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 126,34 }</string>
		<key>p1</key>
		<string>{ 130, 36 }</string>
	</dict>
	<key>shape.1</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 130, 36 }</string>
		<key>p1</key>
		<string>{ 144, 28 }</string>
	</dict>
	<key>shape.2</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 144, 28 }</string>
		<key>p1</key>
		<string>{ 158, 28 }</string>
	</dict>
	<key>shape.3</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 132, 80 }</string>
		<key>p1</key>
		<string>{ 146, 80 }</string>
	</dict>
	<key>shape.4</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 168, 78 }</string>
		<key>p1</key>
		<string>{ 183, 78 }</string>
	</dict>
	<key>shape.5</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 182, 85 }</string>
		<key>p1</key>
		<string>{ 193, 85 }</string>
	</dict>
	<key>shape.6</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 121, 162 }</string>
		<key>p1</key>
		<string>{ 124, 164 }</string>
	</dict>
	<key>shape.7</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 124, 164 }</string>
		<key>p1</key>
		<string>{ 147, 160 }</string>
	</dict>
	<key>shape.8</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 147, 160 }</string>
		<key>p1</key>
		<string>{ 174, 148 }</string>
	</dict>
	<key>shape.9</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 85, 185 }</string>
		<key>p1</key>
		<string>{ 112, 185 }</string>
	</dict>
	<key>shape.10</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 126, 180 }</string>
		<key>p1</key>
		<string>{ 157, 180 }</string>
	</dict>
	<key>shape.11</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 147, 201 }</string>
		<key>p1</key>
		<string>{ 178, 201 }</string>
	</dict>
	<key>shape.12</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 180, 208 }</string>
		<key>p1</key>
		<string>{ 213, 208 }</string>
	</dict>
	<key>shape.13</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>p0</key>
		<string>{ 197, 200 }</string>
		<key>p1</key>
		<string>{ 206, 200 }</string>
	</dict>
</dict>
</plist>
